@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /* background: #000; */
}
html{
    scroll-behavior: smooth;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    /* line-height: 0; */
}
.content-box-sm{
    padding: 60px 0;

}
.content-box-md{
    padding: 80px 0;
}
.content-box-lg{
    padding: 120px 0;
}
a{
  text-decoration: none;  
  display: inline-block;
}


.home-wrap .wrap-content a{
    
}
.home-wrap .wrap-content 


a.btn{
    color: #FF5936;
    padding-top: 20px;
}
a.btn::after{
    content: "";
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' width='512' height='512' x='0' y='0' viewBox='0 0 338.352 338.352' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M169.176,0C75.601,0,0,75.514,0,169.176s75.514,169.176,169.176,169.176s169.176-75.514,169.176-169.176 S262.752,0,169.176,0z M169.176,315.731c-81.191,0-146.556-65.365-146.556-146.556S87.986,22.619,169.176,22.619 s146.556,65.365,146.556,146.556S250.367,315.731,169.176,315.731z' fill='#FF5936' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M231.187,162.382l-74.396-74.396c-4.472-4.472-11.267-4.472-15.825,0c-4.472,4.472-4.472,11.267,0,15.826l65.365,65.365 l-65.365,65.365c-4.472,4.472-4.472,11.267,0,15.825c2.236,2.236,4.472,3.354,7.913,3.354c2.236,0,5.677-1.118,9.03-2.236 l73.278-73.278c2.236-2.236,3.355-4.472,3.355-7.913C234.542,166.94,233.424,164.618,231.187,162.382z' fill='%23ff5936' data-original='%23000000' style='' class=''/%3E%3C/g%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 338.352 338.352' style='enable-background:new 0 0 338.352 338.352;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M169.176,0C75.601,0,0,75.514,0,169.176s75.514,169.176,169.176,169.176s169.176-75.514,169.176-169.176S262.752,0,169.176,0z M169.176,315.731c-81.191,0-146.556-65.365-146.556-146.556S87.986,22.619,169.176,22.619s146.556,65.365,146.556,146.556S250.367,315.731,169.176,315.731z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M231.187,162.382l-74.396-74.396c-4.472-4.472-11.267-4.472-15.825,0c-4.472,4.472-4.472,11.267,0,15.826l65.365,65.365l-65.365,65.365c-4.472,4.472-4.472,11.267,0,15.825c2.236,2.236,4.472,3.354,7.913,3.354c2.236,0,5.677-1.118,9.03-2.236l73.278-73.278c2.236-2.236,3.355-4.472,3.355-7.913C234.542,166.94,233.424,164.618,231.187,162.382z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-left: 10px;
    background-repeat: no-repeat;
}

li{
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.container{
    width: 100%;
    max-width: 1200px;
    /* max-width: 1100px; */
    margin: 0 auto;
}



/* menu */
.header{
    position: relative;
    background-image: url(../imgs/bg-img.jpg);  
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.header .header-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    /* z-index: 1; */
}
.wrap-content{
    position: relative;
    z-index: 0;
}
.container .menu .menu-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background:rgba(0,0,0,0.3); */
    /* margin: 20px 0; */
    align-items: center;
    padding: 10px;
}
.container .menu .menu-wrap .logo{
    width: 100%;
    max-width: 180px;
    object-fit: contain;

}
.container .menu .menu-wrap .logo img{
    width: 100%;
}

.container .menu .menu-wrap ul.menus{
    display: flex;
    flex-wrap: wrap;
}
.container .menu .menu-wrap ul.menus li{
    margin: 0 5px;
   font-weight: bold;
    /* padding: 5px 8px; */
    transition: background-color .5s ease-in-out;
}
.container .menu .menu-wrap ul.menus li a{
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    padding: 5px 8px;
}
.container .menu .menu-wrap ul.menus li a svg{
    filter: grayscale(100%);

}
.container .menu .menu-wrap ul.menus li a:hover{
    
    background-image: linear-gradient(to top, #f71111, #ff731c);
}
.container .menu .menu-wrap .openBtn{
   
    display: none;
}
.container .menu .menu-wrap ul.menus .menu-closeBtn{
    width: 49px;
    height: 42px;
    display: none;
    margin-left: auto;
    padding: 8px 5px;
}
.container .menu .menu-wrap ul.menus .menu-closeBtn svg{
    width: 100%;
    height: 100%;
    
}
@media screen and (max-width: 850px){
    .container .menu .menu-wrap .openBtn{
        display: block;
        margin-right: 20px;
    }
    .container .menu .menu-wrap svg{
        fill: white;
    }
    .container .menu .menu-wrap .dropdown{
        text-align: center;
    }
    .container .menu .menu-wrap .dropdown{
        background: rgba(0,0,0,0.7);
        width: 300px;
        height: 100vh;
        position: fixed;
        top:75px;
        right: 0;
        transform: translateX(300px);

        transition: transform .5s ease-in-out;
        z-index: 1;
        display: none;
}
.container .menu .menu-wrap .dropdown.active{
    transform: translateX(0);

}
    .container .menu .menu-wrap ul.menus{
        display: block;
    }
    .container .menu .menu-wrap ul.menus li a{
        color: white;

    }
    .container .menu .menu-wrap .menus.active{
        display: block;
    }
    .container .menu .menu-wrap .search{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .container .menu .menu-wrap .dropdown{
    display: block;
    text-align: center;
    }
    .container .menu .menu-wrap ul.menus .menu-closeBtn{
        display: block;
        text-align: center;

    }
}
.header-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;

}
.header-content .heading{
    width: 100%;
    max-width: 45%;
    height: 100%;
    color: white;
    padding-right: 24px;
}
.header-content .heading h5{
    margin: 0;
    font-size: 28px;
}
.header-content .heading h2{
    margin: 0;
    font-size: 85px;
    line-height: 1;
}
.header-content .heading h2 span{
    font-size: 69px;
}
.header-content .intro{
    width: 100%;
    max-width: 55%;
    text-align: center;
    color: white;
    background-color: #2D2D2D;
    margin-right: -50px;
    padding-top: 40px;
    box-shadow: 0px -20px 0px 0px #3D3D3D;
    /* background-color: #444444; */
    margin-top: 50px;



}

.header-content .intro .intro-1{
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 33px;
}
.header-content .intro h4{
    margin-bottom: 30px;
}
.header-content .intro h4::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 503.604 503.604' style='enable-background:new 0 0 503.604 503.604;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M337.324,0H167.192c-28.924,0-53.5,23.584-53.5,52.5v398.664c0,28.916,24.056,52.44,52.98,52.44l170.412-0.184c28.92,0,52.58-23.528,52.58-52.448l0.248-398.5C389.908,23.452,366.364,0,337.324,0z M227.68,31.476h49.36c4.336,0,7.868,3.52,7.868,7.868c0,4.348-3.532,7.868-7.868,7.868h-49.36c-4.348,0-7.868-3.52-7.868-7.868C219.812,34.996,223.332,31.476,227.68,31.476z M198.02,33.98c2.916-2.912,8.224-2.952,11.136,0c1.46,1.456,2.324,3.5,2.324,5.588c0,2.048-0.864,4.088-2.324,5.548c-1.452,1.46-3.504,2.32-5.548,2.32c-2.084,0-4.088-0.86-5.588-2.32c-1.452-1.456-2.28-3.5-2.28-5.548C195.736,37.48,196.568,35.436,198.02,33.98z M250.772,488.008c-12.984,0-23.544-10.568-23.544-23.548c0-12.984,10.56-23.548,23.544-23.548s23.544,10.564,23.544,23.548C274.316,477.44,263.752,488.008,250.772,488.008z M365.488,424.908H141.232V74.756h224.256V424.908z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    width: 22px;
    height: 18px;
    background-repeat: no-repeat;
    fill: white;
    vertical-align: middle;
}
.header-content .intro .intro-1 > div{
    width: 100%;
    max-width: 25%;
    padding: 0 5px;
}
.header-content .intro .intro-1 h1{
    margin-bottom: 0;
    line-height: 1;
}
.header-content .intro .intro-1 p{
    margin: 0;
    font-size: 11px;
}
.header-content .intro .intro-2{
    display: flex;
    flex-wrap: wrap;
}
.header-content .intro .intro-2 .seats{
    width: 100%;
    max-width: 50%;
    /* padding: 0 10px; */
    border-right: 1px solid #505050;

}
.header-content .intro .intro-2 .speaker1{
    width: 100%;
    max-width: 50%;
    /* padding: 0 10px; */
}
.header-content .box-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 34px 34px;
}
.header-content .box-wrap .icon{
    width: 100%;
    max-width: 25%;
    text-align: right;
}
.header-content .intro .intro-2 .box-wrap .box-icon{
    background-color: #424242;
    border-radius: 50%;
    padding: 9px;
    width: 54px;
    height: 55px;
    text-align: right;

}

.header-content .intro .intro-2 .box-wrap .box-icon svg{
    fill: white;
}
.header-content .box-wrap .content{
    width: 100%;
    max-width: 75%;
    padding-left: 10px;
    text-align: left;
}
.header-content .box-wrap .content h2{
    line-height: .8;
    margin: 0;
}
.header-content .box-wrap .content p{
    /* line-height: .5; */
    margin: 0;
}
.header-content .intro .intro-3{
    background-image: linear-gradient(to right, #f71111, #ff731c), linear-gradient(to bottom, #00a2f5, #00a2f5);
    padding: 20px 10px;
    text-align: center;
}
.header-content .intro .intro-3 img{
    height: 97px;
    max-width: 319px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.header-content .intro .intro-4{
    background-color: #ffffff;
    text-align: center;
    padding: 7px 10px;
}
.header-content .intro .intro-4 p{
   color: black;
}
.header-content .intro .intro-4 p::before{
    content: "";
    background-image: url("data:image/svg+xml,%0A%3Csvg id='Capa_1' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m256 442.524c4.945 0 9.658-2.129 12.931-5.843 37.055-42.044 157.958-185.468 157.958-265.793 0-94.228-76.661-170.888-170.889-170.888-23.087 0-45.487 4.527-66.574 13.455-3.791 1.604-5.563 5.979-3.958 9.77 1.605 3.793 5.983 5.563 9.77 3.958 19.24-8.145 39.683-12.275 60.763-12.275 86.009 0 155.981 69.972 155.981 155.98 0 77.035-128.479 226.713-154.235 255.936-.607.689-1.354.792-1.746.792s-1.139-.103-1.746-.792c-25.757-29.222-154.235-178.9-154.235-255.936 0-51.013 25.027-98.899 66.948-128.093 3.379-2.353 4.209-6.998 1.857-10.377s-6.999-4.21-10.377-1.857c-45.922 31.981-73.337 84.439-73.337 140.327 0 80.327 120.902 223.75 157.957 265.793 3.273 3.714 7.986 5.843 12.932 5.843z'/%3E%3Cpath d='m337.669 271.759c32.033-25.235 50.405-63.071 50.405-103.805 0-72.826-59.248-132.074-132.074-132.074s-132.075 59.248-132.075 132.074c0 72.827 59.248 132.076 132.074 132.076 18.449 0 36.303-3.733 53.066-11.095 3.77-1.656 5.483-6.053 3.828-9.822-1.656-3.77-6.055-5.483-9.822-3.828-14.862 6.527-30.699 9.837-47.072 9.837-64.606 0-117.166-52.561-117.166-117.167s52.56-117.166 117.166-117.166 117.166 52.56 117.166 117.166c0 36.137-16.301 69.704-44.724 92.094-3.233 2.548-3.79 7.235-1.242 10.469 2.549 3.231 7.234 3.787 10.47 1.241z'/%3E%3Cpath d='m340.814 450.131h-169.629c-17.057 0-30.935 13.877-30.935 30.935s13.878 30.934 30.935 30.934h23.139c4.117 0 7.454-3.337 7.454-7.454s-3.337-7.454-7.454-7.454h-23.139c-8.837 0-16.026-7.189-16.026-16.026s7.189-16.026 16.026-16.026h169.629c8.837 0 16.026 7.189 16.026 16.026s-7.189 16.026-16.026 16.026h-111.21c-4.117 0-7.454 3.337-7.454 7.454s3.337 7.454 7.454 7.454h111.21c17.057 0 30.935-13.877 30.935-30.935s-13.878-30.934-30.935-30.934z'/%3E%3Cpath d='m188.778 227.912h134.444c7.946 0 14.411-6.465 14.411-14.411l.047-52.083h-.047v-.233l1.636.976c3.476 2.089 8.099.984 10.22-2.584 2.109-3.536.952-8.111-2.584-10.22l-83.524-49.871c-4.554-2.716-10.212-2.716-14.764 0l-83.525 49.871c-3.536 2.109-4.693 6.685-2.584 10.22 2.108 3.536 6.682 4.692 10.22 2.584l1.636-.976v.233h-.046l.046 52.083c.002 7.946 6.468 14.411 14.414 14.411zm77.797-14.908h-21.151v-36.632h21.151zm-77.3-60.711 66.725-39.794 66.725 39.795v9.125h-16.186c-6.893 0-12.5 5.607-12.5 12.5v17.486c0 6.893 5.607 12.5 12.5 12.5h16.186v9.1h-41.241v-40.111c0-6.302-5.127-11.43-11.43-11.43h-28.108c-6.302 0-11.43 5.128-11.43 11.43v40.111h-41.241v-9.1h16.186c6.893 0 12.5-5.607 12.5-12.5v-17.486c0-6.893-5.607-12.5-12.5-12.5h-16.186zm133.404 24.125v12.486h-13.641v-12.486zm-133.358 12.486v-12.486h13.64v12.486z'/%3E%3C/g%3E%3C/svg%3E");
    /* background-image: url("data:image/svg+xml,%0A%3Csvg id='Capa_1' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m256 442.524c4.945 0 9.658-2.129 12.931-5.843 37.055-42.044 157.958-185.468 157.958-265.793 0-94.228-76.661-170.888-170.889-170.888-23.087 0-45.487 4.527-66.574 13.455-3.791 1.604-5.563 5.979-3.958 9.77 1.605 3.793 5.983 5.563 9.77 3.958 19.24-8.145 39.683-12.275 60.763-12.275 86.009 0 155.981 69.972 155.981 155.98 0 77.035-128.479 226.713-154.235 255.936-.607.689-1.354.792-1.746.792s-1.139-.103-1.746-.792c-25.757-29.222-154.235-178.9-154.235-255.936 0-51.013 25.027-98.899 66.948-128.093 3.379-2.353 4.209-6.998 1.857-10.377s-6.999-4.21-10.377-1.857c-45.922 31.981-73.337 84.439-73.337 140.327 0 80.327 120.902 223.75 157.957 265.793 3.273 3.714 7.986 5.843 12.932 5.843z'/%3E%3Cpath d='m337.669 271.759c32.033-25.235 50.405-63.071 50.405-103.805 0-72.826-59.248-132.074-132.074-132.074s-132.075 59.248-132.075 132.074c0 72.827 59.248 132.076 132.074 132.076 18.449 0 36.303-3.733 53.066-11.095 3.77-1.656 5.483-6.053 3.828-9.822-1.656-3.77-6.055-5.483-9.822-3.828-14.862 6.527-30.699 9.837-47.072 9.837-64.606 0-117.166-52.561-117.166-117.167s52.56-117.166 117.166-117.166 117.166 52.56 117.166 117.166c0 36.137-16.301 69.704-44.724 92.094-3.233 2.548-3.79 7.235-1.242 10.469 2.549 3.231 7.234 3.787 10.47 1.241z'/%3E%3Cpath d='m340.814 450.131h-169.629c-17.057 0-30.935 13.877-30.935 30.935s13.878 30.934 30.935 30.934h23.139c4.117 0 7.454-3.337 7.454-7.454s-3.337-7.454-7.454-7.454h-23.139c-8.837 0-16.026-7.189-16.026-16.026s7.189-16.026 16.026-16.026h169.629c8.837 0 16.026 7.189 16.026 16.026s-7.189 16.026-16.026 16.026h-111.21c-4.117 0-7.454 3.337-7.454 7.454s3.337 7.454 7.454 7.454h111.21c17.057 0 30.935-13.877 30.935-30.935s-13.878-30.934-30.935-30.934z'/%3E%3Cpath d='m188.778 227.912h134.444c7.946 0 14.411-6.465 14.411-14.411l.047-52.083h-.047v-.233l1.636.976c3.476 2.089 8.099.984 10.22-2.584 2.109-3.536.952-8.111-2.584-10.22l-83.524-49.871c-4.554-2.716-10.212-2.716-14.764 0l-83.525 49.871c-3.536 2.109-4.693 6.685-2.584 10.22 2.108 3.536 6.682 4.692 10.22 2.584l1.636-.976v.233h-.046l.046 52.083c.002 7.946 6.468 14.411 14.414 14.411zm77.797-14.908h-21.151v-36.632h21.151zm-77.3-60.711 66.725-39.794 66.725 39.795v9.125h-16.186c-6.893 0-12.5 5.607-12.5 12.5v17.486c0 6.893 5.607 12.5 12.5 12.5h16.186v9.1h-41.241v-40.111c0-6.302-5.127-11.43-11.43-11.43h-28.108c-6.302 0-11.43 5.128-11.43 11.43v40.111h-41.241v-9.1h16.186c6.893 0 12.5-5.607 12.5-12.5v-17.486c0-6.893-5.607-12.5-12.5-12.5h-16.186zm133.404 24.125v12.486h-13.641v-12.486zm-133.358 12.486v-12.486h13.64v12.486z'/%3E%3C/g%3E%3C/svg%3E"); */
    /* background-image: url("data:image/svg+xml,%0A%3Csvg height='512' viewBox='0 0 192 192' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='_06-location' data-name='06-location'%3E%3Cpath d='m96 0a72.081 72.081 0 0 0 -72 72c0 50.73 63.634 114.948 66.343 117.657a8.078 8.078 0 0 0 11.314 0c2.709-2.709 66.343-66.927 66.343-117.657a72.081 72.081 0 0 0 -72-72zm0 172.366c-15.243-16.589-56-64.321-56-100.366a56 56 0 0 1 112 0c0 36.045-40.758 83.778-56 100.366z'/%3E%3Cpath d='m99.578 40.845a8 8 0 0 0 -7.156 0l-32 16 7.156 14.31 4.422-2.211v19.056a8 8 0 0 0 8 8h32a8 8 0 0 0 8-8v-19.056l4.422 2.211 7.156-14.31zm4.422 20.099v19.056h-16v-19.056l8-4z'/%3E%3C/g%3E%3C/svg%3E"); */
    display: inline-block;
    width: 32px;
    height: 22px;
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;

}
/* hero section */
@media screen and (max-width: 991px){
    .header-content .box-wrap{
        padding: 34px 25px;
    }
    .header-content .heading {
        width: 100%;
        max-width: 40%;
        height: 100%;
        color: white;
        padding-right: 14px;
    }
    .header-content .intro{
        max-width: 60%;
    }
    .header-content .heading h2{
        font-size: 55px;
    }
    .header-content .heading h2 span{
        font-size: 55%;
    }
}
@media screen and (max-width: 767px){
    .header-content .heading{
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
    }
    .header-content .intro {
        max-width: 650px;
        margin: 0 auto;

    }
}
@media screen and (max-width: 490px){
    .header-content .box-wrap{
        padding: 15px;
    }
    .header-content .intro .intro-1{
        padding: 0 25px;
    }
    .header-content .box-wrap .icon{
        max-width: 100%;
    }
    .header-content .box-wrap .content{
        max-width: 100%;
        padding-top: 20px;
    }
}
.home-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home-wrap .wrap-content{
    width: 100%;
    max-width: 50%;
}
.home-wrap .wrap-content h1{
    font-family: Montserrat;

}
.home-wrap .wrap-content p{
    font-size: 11px;
}

.home-wrap .wrap-content h1 span{
    color: #FF5936;
    font-family: Montserrat;
}
.home-wrap .wrap-img{
    width: 100%;
    max-width:40%;
    position: relative;
    z-index: 1;
    padding-left: 29px;
    

}
.home-wrap .wrap-img span{
    position: absolute;
    height: 24vw;
    width: 100%;
    max-width: 86%;
    max-height: 289px;
    /* background: #07877b; */
    top: -19px;
    left: 13px;
    z-index: 0;
    border: 1px solid black;
}
.home-wrap .wrap-img img{
    object-fit: contain;
    z-index: 1;
    position: relative;
}
@media screen and (max-width: 575px){
    .home-wrap .wrap-content{
        /* width: 100%; */
        max-width: 100%;
        padding: 0 20px;
        padding-bottom: 50px;
    }
    .home-wrap .wrap-img{
        max-width: 100%;
        padding: 40px 30px;
    }
    .home-wrap .wrap-img span {
        position: absolute;
        height: 53vw;
        width: 100%;
        max-width: 83%;
        max-height: 304px;
        /* background: #07877b; */
        top: 23px;
        left: 13px;
        z-index: 0;
        border: 1px solid black;
    }
}
.about{
    background-color: #F3F3F3;
}
.about .heading{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;

}
.about-wrap{
    display: flex;
    flex-wrap: wrap;
}
.about-wrap .box{
    width: 100%;
    max-width: 50%;
    padding: 0 15px;
}
.about-wrap .box a{
    padding-top: 20px;
    color: #FF5936;
}
@media screen and (max-width: 575px){
    .about-wrap .box{
        max-width: 800px;
        margin: 0 auto;
    }
    .about-wrap .box:first-child{
        padding-bottom: 50px;
    }
}
.speaker{
    background-image: url(../imgs/objects.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.speaker-wrap{
    display: flex;
    flex-wrap: wrap;
}
.speaker-wrap .box{
    width: 100%;
    max-width: 25%;
    padding: 0 10px;
}
.speaker-wrap .box .box-wrapper{
    position: relative;
    overflow: hidden;

}
.speaker-wrap .box .box-wrapper > svg.minus{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
    fill: black;

}
.speaker-wrap .box .box-wrapper > svg.plus{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    fill: black;
}

.speaker-wrap .box .box-wrapper::before{
    width: 70px; 
    height: 70px; 
    content:""; 
    position: absolute; 
    bottom: 0;
    right: 0;
    background-color: white;
    bottom:-40px; 
    right: -40px; 
    transform: rotate(45deg)
}
.speaker-wrap .box .box-wrapper .overlay::before{
    width: 70px; 
    height: 70px; 
    content:""; 
    position: absolute; 
    bottom: 0;
    right: 0;
    background-color: white;
    bottom:-40px; 
    right: -40px; 
    transform: rotate(45deg);
    z-index: 0;
}
.speaker-wrap .box .box-wrapper:hover svg.minus{
    opacity: 1;

}
.speaker-wrap .box .overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #f71111, #ff731c), linear-gradient(to bottom, #2c333b, #2c333b);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.speaker-wrap .box .box-wrapper:hover .overlay{
    opacity: 1;

}
.speaker-wrap .box .overlay svg{
    width: 100%;
    height: 100%;
}
.speaker-wrap .box .overlay a{
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
    margin-right: 2px;
    width: 40px;
    height: 40px;
    fill: black;
    transition: fill .5s ease-in-out;
}
.speaker-wrap .box .overlay a:hover svg{
    fill: blue;
}
.speaker-wrap .box .content{
    text-align: center;
    margin: 30px 0 45px 0;
}
.speaker-wrap .box .content h3,p{
    margin: 0;
    line-height: 1;
}
@media screen and (max-width: 850px){
    .speaker-wrap .box{
        max-width: 50%;
    }
}
@media screen and (max-width: 575px){
    .speaker-wrap .box{
        max-width: 100%;
    }
}
.event{
    text-align: center;
    color: white;
    background-color: #281e9e;
}
.event-wrap{
    padding: 0 15px;
}
.event p{
    padding: 10px 20px;
}
.event a{
    padding: 20px 50px;
    border: 1px solid white;
    margin-top: 50px;
    position: relative;
    color: white;
    transition: .5s ease-in-out;
}
.event a:hover{
    background-color: white;
    color: black;
}
.event a::after{
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 1px solid white;
    transition: top, left .3s ease-in-out;
}
.event a:hover::after{
    top: 0;
    left: 0;
}
.brands{
    text-align: center;
}
.brands .brands-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.brands .brands-wrap .brand-img{
    width: 100%;
    max-width: 20%;
    height: 100%;
    padding: 40px 20px;
    height: 100%;


}
.brands .brands-wrap img{
    width: 100%;
    max-height: 100px;
    filter: grayscale(100);
    transition: filter .5s ease-in-out;
    height: 100%;
    object-fit: contain;


}
.brands .brands-wrap .brand-img:hover img{
    filter: grayscale(0);

}
@media screen and (max-width: 575px){
    .brands .brands-wrap .brand-img{
    max-width: 50%;
    padding: 20px 15px;

    }
    
}
.customer{
    background-color: #151515;
}
.agenda{

}
.agenda h1{
    text-align: center;
}
/* .agenda .tabs{
    position: relative;
} */

.agenda .tabs ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
    position: relative;
}
.agenda .tabs ul span{
    width: 100%;
    max-width:650px;
    background-color:  #f92c14;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 35px;
    z-index: 0;
    margin: 0 auto;
}
.agenda .tabs ul li{
    border-bottom: 3px solid  #f92c14;
    border-radius: 30px;
    padding: 15px 20px;
    /* border-bottom: #f92c14; */
    margin-right: 20px;
    position: relative;
    background-color: white;
    z-index: 1;
}
.agenda .tabs ul li.active{
    background-image: linear-gradient(to top, #f71111, #ff731c);
    color: white;
}
.agenda .wrapper{
    margin-top: 90px;
    margin-bottom: 50px;
}
.agenda .wrap{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 90px; */
    margin-bottom: 20px;
    align-items: center;
    
    /* padding-top: 150px; */
}
.agenda .wrap .time{
    width: 100%;
    max-width: 25%;
    text-align: center;
}
.agenda .wrap .time h3{
    font-size: 33px;
}
.agenda .wrap .time h3,p{
    line-height: 1.3;
    margin: 0;
}
.agenda .wrap .time p{
    color: #ff512f;
}
.agenda .wrap .detail{
    width: 100%;
    max-width: 75%;
    padding-left: 60px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 10px 0 rgba(165, 165, 165, 0.54);
    position: relative;
    /* margin-bottom: 50px; */
    padding-top: 30px;
}

.agenda .wrap p{
    line-height: 1.5;
    padding-right: 15px;
}
.agenda .wrap .detail span.room{
    padding: 7px 15px;
    background-image: linear-gradient(to top, #f71111, #ff731c);
    position: absolute;
    top: 0;
    left: 0;
    color:white;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.agenda .wrap .detail:hover span.room{
    opacity: 1;
}
.agenda .wrap .detail h2{
    font-size: ;
    color: #444444;
    transition: color .5s ease-in-out;
}
.agenda .wrap .detail:hover h2{
    color: #ff512f;
}
.agenda .wrap .detail span.circle{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #f92c14;
    position: absolute;
    top: 74px;
    left: -15px;
    border-radius: 50%;
}
@media screen and (max-width: 991px){
    .agenda .wrap .detail{
        padding-left: 40px;

    }
    .agenda .wrap .time h3 {
        font-size: 25px;
    }
}
@media screen and (max-width: 680px){
    .agenda .wrap .time h3 {
        font-size: 25px;
    }
    .agenda .wrap .time{
        max-width: 100%;
    }
    .agenda .wrap .detail{
        max-width: 80%;
        /* padding: 15px 20px; */
        margin: 20px auto;
    }
}
.posts{
text-align: center;
}
.posts .posts-wrap{
    display: flex;
    flex-wrap: wrap;
}
.posts .posts-wrap .post-img{
    width: 100%;
    max-width: 33.33%;
    padding: 15px 12px;
    text-align: left;
    position: relative;
}
.posts .post-img .bg-video{
    position: relative;
    padding-bottom: 65.5%;
}
.posts .post-img .bg-video video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}
.posts .post-img .bg-video .poster{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
}
.posts .post-img .bg-video .playIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px 15px 15px 18px;
    z-index: 3;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
}
.posts .post-img .bg-video .pauseIcon{
    position: absolute;
    top: 50%;
    right: 50%;
    width: 50px;
    height: 50px;
    transform: translateX(50%) translateY(-50%);
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px 15px 15px 18px;
    z-index: 3;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    display: none;
}
.posts .post-img .bg-video .pauseIcon img{
    padding: 2.5px 1px 0 0
}
.posts .post-img ul.slick-dots li button:before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: rgba(0,0,0,0.7);
}
.posts .post-img .slick-initialized .slick-slide {
    display: block;
    outline: none;
}
.posts .post-img ul.slick-dots {
    position: absolute;
    bottom: 2%;
    left: 30%;
    width: auto;
    height: max-content;
    /* transform: rotate(90deg); */
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.posts .post-img ul.slick-dots li.slick-active button::before {
    background-color: #0d2481;
}
.posts .post-img .content{
    padding-top: 25px;
}
.posts .post-img .content h6 span{
    padding-left: 15px;
}
.posts .post-img .content p.h3{
    line-height: 1;
    font-size: 15px;
    font-weight: bold;
}
.posts .post-img .content h6{
    line-height: 1.1;
    padding-bottom: 15px;

}
.posts .post-img .content a{
    padding-top: 15px;

}
.posts .post-img .content:hover a{
 color: #FD9048;
}
@media screen and (max-width: 575px){
    .posts .posts-wrap .post-img{
        width: 100%;
        max-width: 80%;
        padding: 15px 12px;
        margin: 20px auto;
        /* margin-bottom: 20px; */
    }
}
.post-btm{
    position: relative;
    background-image: url(../imgs/bg2.jpg);  
    width: 100%;
    min-height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.post-btm .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.post-btm .box{
    position: absolute;
    top: 45%;
    right: 20%;
    padding: 30px 60px;
    background-image: linear-gradient(to top, #f71111, #ff731c);
    color: white;
    text-align: center;
}
.post-btm .box h4{
    margin-top: 0;
}
@media screen and (max-width: 450px){
    .post-btm .box{
        position: absolute;
        top: 20%;
        right: 10%;
        padding: 10px 30px;
        background-image: linear-gradient(to top, #f71111, #ff731c);
        color: white;
        text-align: center;
    }
}
.footer{
    text-align: center;
    background-color: #2D2D2D;
    color: white;
}
.footer img{
    width: 170px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.done-btn{
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 100%;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}
.done-btn input{
    padding: 12px 10px;
    width: 100%;
    /* max-width: 350px; */
    height: 100%;
    margin-top: 20px;
    display: inline;

    /* max-height: 44px; */
}
.done-btn button{
    background-image: linear-gradient(to top, #f71111, #ff731c);
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    padding: 12px 15px;
    border: none;
    color: white;
    font-size: 16px;
}
.footer .icons a{
    height: 30px;
    width: 30px;
    padding: 5px;
    /* margin: 30px 0; */
    margin-top: 30px;
    background-color: transparent;
    transition: background-color .5s ease-in-out;

}
.footer .icons a:hover{
    background-color: #2DACE3;
}
.footer .icons svg{
    height: 100%;
    width: 100%;
    fill: #4a4a4a;
}
.footer .btm{
    background-color: #292929;
    padding: 20px;
    position: relative;
}
.footer .btm a{
    position: absolute;
    top: 32%;
    right: 10%;
}
.footer .btm svg{
    
    width: 20px;
    height: 20px;
    fill: #4a4a4a;
    transition: all .3s ease-in-out;

}
.footer .btm svg:hover{
    fill: #fff;
    transform: scale(1.5);

}